snippet html:5 "A whole code of HTML5."
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" Content="text/html;charset=UTF-8" />
		<title>${1:Title}</title>
	</head>
	<body>
		${0}
	</body>
</html>
endsnippet
