snippet html:5 "A whole code of HTML5."
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" Content="text/html;charset=UTF-8" />
		${1:viewport}
		<title>${2:Title}</title>
		${3:Link}
		<script src="${4:Url}"></script>
	</head>
	<body>
		${0}
	</body>
</html>
endsnippet
