snippet title "This is the notes of the codes."
" -- ------
" -- ------ ${1:Title}
" -- ------

${0}
endsnippet

snippet ulist "A UnList"
" --- ${1:Statement}
" --- ${2:Statement}
" --- ${3:Statement}
${0}
endsnippet
